@'
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.venv/
venv/
ENV/
env/

.env
.env.*

.DS_Store
Thumbs.db

*.sqlite3
*.db

build/
dist/
*.egg-info/
.ipynb_checkpoints/
*.exe
data/real_concert/cam1_real_wide.mp4
data/real_concert/cam2_real_vocal.mp4
data/real_concert/cam3_real_instrument.mp4
data/real_concert/cam4_real_roaming.mp4

.idea/
.vscode/
'@ | Set-Content .gitignore